<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="grid-container">
            <header>
                <h1>titulo</h1>
                <nav>
                    <a href="">item1</a>
                    <a href="">item2</a>
                    <a href="">item3</a>
                    <a href="">item4</a>
                </nav>
            </header>
            <section>destacado</section>
            <aside>aside</aside>
            <main>main</main>
            <footer>footer</footer>
        </div>
    </body>
</html>